.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
  padding: 40px 0 0 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0 2rem 0;
  width: 1226px;
  background: white;
  border-radius: 18px;
}

.nameLastnameContainer {
  display: flex;
  gap: 4rem;
}

.labelInputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nameLastnameInput {
  width: 407px;
}

.dropdownsContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
}

.form select {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  width: 878px;
  height: 50px;
  background: var(--dropdown-background);
  border-radius: 8px;
  padding-left: 1rem;
  margin-bottom: 5px;
  background-image: url(../../assets/arrow-dropdown.png);
  background-repeat: no-repeat;
  background-position: 95% 55%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.emailNumberContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.emailNumberInput {
  width: 878px;
}

.btnNext {
  align-self: flex-end;
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background: var(--primary-blue);
  margin-right: 174px;
  margin-top: 40px;
  padding: 20px 50px;
}

.btnBack {
  margin-left: 70px;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: var(--background-color);
}

.btnBack:hover {
  background-color: var(--background-color);
}

.btnBack:active {
  background-color: var(--background-color);
}

.form input {
  color: var(--black-400);
}

@media screen and (max-width: 390px) {
  .container {
    gap: 10px;
    margin-top: 0;
    max-width: 390px;
  }

  .btnBack {
    margin-left: 0;
    position: absolute;
    left: 20px;
    top: 37px;
    height: 30px;
  }

  .form {
    padding: 40px 0;
    gap: 30px;
    background: white;
    border-radius: 18px;
    max-width: 390px;
  }

  .nameLastnameContainer {
    flex-direction: column;
    gap: 30px;
  }

  .nameLastnameInput {
    width: 358px;
  }

  .labelInputContainer {
    flex-direction: column;
    width: 358px;
  }

  .dropdownsContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 0rem;
    width: 358px;
  }

  .form select {
    width: 358px;
  }

  .emailNumberContainer {
    gap: 30px;
    margin-top: 0rem;
  }

  .emailNumberInput {
    width: 358px;
    padding-left: 1rem;
    border: 1.8px solid var(--blue-400);
  }

  .btnNext {
    margin-right: 15px;
    margin-top: 0px;
    padding: 10px 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }
}
