.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  /* height: 100vh; */
  margin-top: 50px;
  padding: 40px 0;
}
.label {
  height: 21px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.input {
  /* width: 407px; */
  height: 50px;
  /* border: 1.8px solid var(--blue-400); */
  border-radius: 8px;
  outline: none;
}

.form {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  gap: 50px;
  padding: 4rem 0;
  /* padding-bottom: 10rem; */
  width: 1226px;
  /* height: 750px; */
  background: white;
  border-radius: 18px;
  margin-bottom: 20px;
}

/* .btnBack {
  position: absolute;
  top: 40px;
  left: 40px;
} */

.btnBack {
  /* align-self: flex-start; */
  margin-left: 70px;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: var(--background-color);
  /* margin-top: 30px; */
  /* margin: 20px 0; */
  /* margin-top: 40px; */
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 878px;
  height: 423px;
  background: var(--dropbox-background);
  border: 2px dashed var(--blue-700);
  border-radius: 18px;
}

.imagePreviewContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.previewImage {
  width: 878px;
  height: 423px;
  object-fit: cover;
  border-radius: 18px;
}

.prevDescriptionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prevDescriptionInnerContainer {
  display: flex;
  max-width: 500px;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}

.previewImageChecked {
  height: 22px;
  width: 22px;
}

.imageName {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--black-800);
}

.imageSize {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--black-400);
}

.uploadBtn {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  width: 233px;
  height: 60px;
  background: var(--blue-500);
  color: white;
  padding: 18px 60px;
  border-radius: 8px;
}

.uploadTitle {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  width: 195px;
  height: 76px;
  color: var(--blue-700);
  text-align: center;
}

.laptopContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  border-bottom: 1px solid var(--black-200);
  /* border: 1px solid red; */
  /* width: 878px; */
  /* justify-content: center; */
  /* align-items: center; */
  padding-bottom: 50px;
}

.laptopInnerContainer {
  display: flex;
  gap: 4rem;
  margin-bottom: 0.5rem;
}

.labelInputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hint {
  /* width: 407px; */
  height: 21px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: var(--black-400);
}

.error {
  color: var(--error);
}

.inputs {
  font-family: 'HelveticaNeue';
  width: 407px;
  padding-left: 1rem;
  border: 1.8px solid var(--blue-400);
}

.cpuInputs {
  width: 277px;
  padding-left: 1rem;
  border: 1.8px solid var(--blue-400);
}

.inputError {
  border-color: var(--error);
}

.form select {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  height: 50px;
  background: var(--dropdown-background);
  border-radius: 8px;
  padding-left: 1rem;
  /* margin-bottom: 5px; */
  background-image: url(../../assets/arrow-dropdown.png);
  background-repeat: no-repeat;
  background-position: 95% 55%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* width: 407px; */
}

.selectBrand {
  width: 407px;
  align-self: center;
}

.selectCPU {
  width: 277px;
  align-self: center;
}

/* .selectContainer {
  align-self: center;
} */

.cpuContainer {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* border: 1px solid red; */
  /* flex-wrap: wrap; */
  width: 878px;
}

.ramContainer {
  display: flex;
  gap: 50px;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  width: 878px;
  border-bottom: 1px solid var(--black-200);
  padding-bottom: 50px;
}

.radioContainer {
  display: flex;
  gap: 75px;
}

.radioLabelInputContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.priceDateContainer {
  display: flex;
  justify-content: space-between;
  width: 878px;
}

.laptopStateContainer {
  width: 878px;
}

.laptopState {
  align-self: flex-start;
}

.logo {
  width: 75px;
  height: 75px;
}

.formBtnsContainer {
  display: flex;
  justify-content: space-between;
  width: 878px;
}

.formBtnBack {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--blue-500);
  background-color: white;
}

.btnAgain {
  /* position: absolute;
  right: 174px;
  bottom: 40px; */
  /* align-self: flex-end; */
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background: var(--primary-blue);
  /* margin-right: 174px; */
  /* margin-top: 50px; */
  /* margin-bottom: 30px; */
  padding: 20px 50px;
}
.btnSave {
  /* position: absolute;
  right: 174px;
  bottom: 40px; */
  /* align-self: flex-end; */
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background: var(--primary-blue);
  /* margin-right: 174px; */
  /* margin-top: 50px; */
  /* margin-bottom: 30px; */
  padding: 20px 50px;
}

.imageError {
  background: var(--image-error);
  border: 2px dashed var(--error);
}

.imageError p {
  color: var(--error);
}

.noImage {
  width: 45px;
  height: 40px;
}

.memoryTypeTitleContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.noMemoryType {
  width: 22px;
  height: 20px;
}

.errorImageTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.noBorder {
  border: none;
}

@media screen and (max-width: 390px) {
  .container {
    padding: 40px 0 0 0;
    gap: 10px;
    margin-top: 0;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
    width: 390px;
    background: white;
    border-radius: 0px;
  }

  .btnBack {
    margin-left: 0;
    position: absolute;
    left: 20px;
    top: 37px;
    height: 30px;
  }

  .imageContainer {
    width: 358px;
    height: 244px;
  }

  .imagePreviewContainer {
    align-items: center;
    gap: 10px;
  }

  .previewImage {
    width: 358px;
    height: 181px;
  }

  .btnAgain {
    background: var(--primary-blue);
    width: 230px;
    padding: 10px 0px;
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
  }

  .prevDescriptionContainer {
    flex-direction: column;
    gap: 20px;
    width: 358px;
  }

  .prevDescriptionInnerContainer {
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
  }

  .prevDescriptionInnerContainer {
    gap: 5px;
  }

  .laptopContainer {
    gap: 30px;
    border-bottom: 10px solid var(--background-color);
    padding-bottom: 30px;
    width: 358px;
    flex-direction: column;
  }

  .laptopInnerContainer {
    width: 358px;
  }

  .inputs {
    width: 358px;
  }

  .cpuInputs {
    width: 358px;
  }

  .form select {
    width: 358px;
  }

  .selectBrand {
    width: 358px;
  }

  .selectCPU {
    width: 358px;
  }

  /* .selectContainer {

    align-self: center;
  } */

  .cpuContainer {
    flex-direction: column;
    width: 358px;
    gap: 30px;
  }

  .ramContainer {
    /* max-width: 390px; */
    /* display: flex;
    gap: 50px;
    width: 878px;
    border-bottom: 1px solid var(--black-200); */
    padding-bottom: 30px;
    border-bottom: 10px solid var(--background-color);
    flex-direction: column;
    width: 358px;
  }

  .priceDateContainer {
    /* max-width: 390px; */
    /* display: flex;
    justify-content: space-between;
    width: 878px; */
    gap: 30px;
    flex-direction: column;
    width: 358px;
  }

  .laptopStateContainer {
    /* max-width: 390px; */
    width: 358px;
  }

  .logo {
    /* max-width: 390px; */
    display: none;
  }

  .formBtnsContainer {
    /* max-width: 390px; */
    /* display: flex;
    justify-content: space-between; */
    width: 358px;
  }

  .formBtnBack {
    /* max-width: 390px; */

    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--blue-500);
    background-color: white;
  }

  .imageError {
    /* max-width: 390px; */

    background: var(--image-error);
    border: 2px dashed var(--error);
  }

  .imageError p {
    /* max-width: 390px; */

    color: var(--error);
  }

  .noImage {
    /* max-width: 390px; */

    height: 21px;
    width: 23px;
  }

  .errorImageTitleContainer {
    /* max-width: 390px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .noBorder {
    /* max-width: 390px; */

    border: none;
  }

  .btnSave {
    background: var(--primary-blue);

    padding: 10px 0px;
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding: 12px 40px;
  }

  /* .hint {
    width: 358px;
    font-size: 18px;
  } */

  .mobileDropIcon {
    height: 40px;
    width: 44px;
  }
}
