.imagePreviewContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.previewImage {
  width: 878px;
  height: 423px;
  object-fit: cover;
  border-radius: 18px;
}

.prevDescriptionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prevDescriptionInnerContainer {
  display: flex;
  max-width: 500px;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}

.previewImageChecked {
  height: 22px;
  width: 22px;
}

.imageName {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--black-800);
}

.imageSize {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--black-400);
}

.btnAgain {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background: var(--primary-blue);
  padding: 20px 50px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 878px;
  height: 423px;
  background: var(--dropbox-background);
  border: 2px dashed var(--blue-700);
  border-radius: 18px;
}

.imageError {
  background: var(--image-error);
  border: 2px dashed var(--error);
}

.imageError p {
  color: var(--error);
}

.errorImageTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.noImage {
  width: 45px;
  height: 40px;
}

.uploadBtn {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  width: 233px;
  height: 60px;
  background: var(--blue-500);
  color: white;
  padding: 18px 60px;
  border-radius: 8px;
}

.uploadTitle {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  width: 195px;
  height: 76px;
  color: var(--blue-700);
  text-align: center;
}

@media screen and (max-width: 390px) {
  .imagePreviewContainer {
    align-items: center;
    gap: 10px;
  }

  .previewImage {
    width: 358px;
    height: 181px;
  }

  .prevDescriptionContainer {
    flex-direction: column;
    gap: 20px;
    width: 358px;
  }

  .prevDescriptionInnerContainer {
    gap: 5px;
  }

  .btnAgain {
    background: var(--primary-blue);
    width: 230px;
    padding: 10px 0px;
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
  }

  .imageContainer {
    width: 358px;
    height: 244px;
  }

  .noImage {
    height: 21px;
    width: 23px;
  }

  .mobileDropIcon {
    height: 40px;
    width: 44px;
  }
}
