.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black-450);
  min-height: 100vh;
}

.popupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 847px;
  height: 537px;
  background: white;
  border-radius: 8px;
  padding: 30px 0;
}

.img {
  width: 210px;
  height: 230px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  color: var(--black-600);
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 70px;
}

.btnRecords {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 18px 60px;
  background: var(--blue-500);
}

.btnLanding {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-color: white;
  color: var(--blue-800);
}

.btnLanding:hover {
  background-color: white;
}

.btnLanding:active {
  background-color: white;
}

@media screen and (max-width: 390px) {
  .popupContainer {
    width: 390px;
    height: 100vh;
    background: white;
    border-radius: 8px;
    padding: 30px 0;
  }

  .img {
    margin-top: 35%;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25%;
  }

  .btnContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 70px;
  }

  .btnRecords {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 18px 60px;
    background: var(--blue-500);
  }

  .btnLanding {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    background-color: white;
    color: var(--blue-800);
  }
}
