.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 70px;
  /* border: 1px solid red; */
  padding: 50px 0;
  min-height: 100vh;
}

.btnTitleContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  align-items: center;
  /* border: 1px solid blue; */
  width: 55%;
  align-self: flex-start;
  /* position: absolute; */
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 21px;
}

.recordContainer {
  /* border: 1px solid green; */
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 1255px;
  /* gap: 50px; */
}

.employeeInformationContainer {
  display: flex;
  padding-bottom: 50px;
  gap: 60px;
}

.img {
  width: 577px;
  /* width: 50%; */
  height: 342px;
  /* margin-right: 50px; */
}

.employeeInformation {
  display: flex;
  /* margin-left: 50px; */
  gap: 70px;
  padding: 50px 0;
  /* border: 1px solid red; */
  width: 50%;
  /* justify-content: space-between; */
  /* width: 280px; */
}

.laptopInformationContainer {
  display: flex;
  /* width: 25%; */
  /* margin-left: 50px; */
  /* gap: 85px; */

  padding: 50px 0;
  border-top: 1px solid var(--black-300);
  /* width: 800px; */
  /* border: 1px solid red; */
}

.laptopInnerContainer1 {
  /* border: 1px solid blue; */
  display: flex;
  width: 577px;
  margin-right: 60px;
  gap: 100px;
}
.laptopInnerContainer2 {
  /* border: 1px solid blue; */
  display: flex;
  width: 577px;
  /* margin-right: 50px; */
  gap: 65px;
}
.laptopInnerContainer3 {
  /* border: 1px solid blue; */
  display: flex;
  width: 577px;
  margin-right: 60px;
  gap: 30px;
}
.laptopInnerContainer4 {
  /* border: 1px solid blue; */
  display: flex;
  width: 577px;
  /* margin-right: 50px; */
  gap: 50px;
}
.containerWidth {
  /* width: 280px; */
  /* justify-content: space-between; */
  /* gap: 70px; */
  display: flex;
  /* border: 1px solid rgb(250, 16, 172); */
}

/* .extraWidth {
  width: 577px;
} */

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* width: 25%; */
  /* border: 1px solid rgb(0, 47, 255); */
  /* width: 100%; */
  /* justify-content: baseline; */
  /* min-width: 400px; */
}

.description {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: var(--black-500);

  /* შავი/500 */
}

.value {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;

  color: var(--black-350);
}
