.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  padding: 50px 0;
  min-height: 100vh;
}

.recordContainer {
  display: flex;
  flex-direction: column;
  width: 1255px;
}

.employeeInformationContainer {
  display: flex;
  padding-bottom: 50px;
  gap: 60px;
}

.img {
  width: 577px;
  height: 342px;
}

.employeeInformation {
  display: flex;
  gap: 70px;
  padding: 50px 0;
  width: 50%;
}

.laptopInformationContainer {
  display: flex;
  padding: 50px 0;
  border-top: 1px solid var(--black-300);
}

.laptopInnerContainer1 {
  display: flex;
  width: 577px;
  margin-right: 60px;
  gap: 100px;
}

.laptopInnerContainer2 {
  display: flex;
  width: 577px;
  gap: 65px;
}

.laptopInnerContainer3 {
  display: flex;
  width: 577px;
  margin-right: 60px;
  gap: 30px;
}

.laptopInnerContainer4 {
  display: flex;
  width: 577px;
  gap: 50px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: var(--black-500);
}

.value {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: var(--black-350);
}

@media screen and (max-width: 390px) {
  .container {
    gap: 30px;
    padding: 30px 0;
  }

  .recordContainer {
    width: 358px;
  }

  .employeeInformationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
    gap: 0px;
  }

  .img {
    width: 358px;
    height: 191px;
  }

  .employeeInformation {
    gap: 66px;
    padding: 30px 0;
    width: 358px;
  }

  .laptopInformationContainer {
    flex-direction: column;
    padding: 30px 0;
    border-top: 0.6px solid var(--black-300);
  }

  .laptopInnerContainer1 {
    width: 358px;
    margin-right: 0px;
    gap: 30px;
  }

  .laptopInnerContainer2 {
    width: 358px;
    gap: 61px;
  }

  .laptopInnerContainer3 {
    width: 358px;
    margin-right: 0px;
    gap: 51px;
  }

  .laptopInnerContainer4 {
    width: 358px;
    gap: 52px;
  }

  .descriptionContainer {
    flex-direction: column;
    gap: 0px;
  }

  .description {
    font-size: 14px;
    line-height: 25px;
  }

  .value {
    font-size: 14px;
    line-height: 25px;
  }
}
