.label {
  height: 21px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.input {
  height: 50px;
  border-radius: 8px;
  outline: none;
}

.labelInputContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.memoryTypeTitleContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.noMemoryType {
  width: 22px;
  height: 20px;
}

.radioContainer {
  display: flex;
  gap: 75px;
}

.radioLabelInputContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.error {
  color: var(--error);
}

@media screen and (max-width: 390px) {
  .labelInputContainer {
    flex-direction: column;
    width: 358px;
    max-width: 390px;
  }
}
