.btnPrimarty {
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btnPrimarty:hover {
  background-color: var(--blue-900);
}

.btnPrimarty:active {
  background-color: var(--blue-950);
}
