.label {
  /* width: 407px; */
  /* font-family: 'HelveticaNeue'; */
  /* font-family: 'sans-serif'; */
  height: 21px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
