.container {
  display: flex;
  gap: 60px;
  list-style: none;
}

.btn {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--black-700);
  text-decoration: none;
  background-color: var(--background-color);
}

.underline {
  content: '';
  display: block;
  margin: 0 auto;
  width: 80%;
  padding-top: 10px;
  border-bottom: 2px solid black;
}

@media screen and (max-width: 390px) {
  .navigationCounter {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: var(--black-320);
    margin-top: 5px;
  }

  .btn {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
}
