.label {
  height: 21px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.input {
  height: 50px;
  border-radius: 8px;
  outline: none;
}

.input:focus {
  border-color: var(--blue-550);
}

.labelInputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hint {
  height: 21px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: var(--black-400);
}

.error {
  color: var(--error);
}

.inputError {
  border-color: var(--error);
}

@media screen and (max-width: 390px) {
  .labelInputContainer {
    flex-direction: column;
    width: 358px;
    max-width: 390px;
  }

  .hint {
    width: 358px;
  }
}
