.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 50px 0;
  min-height: 100vh;
}

.btnTitleContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  align-items: center;
  align-self: flex-start;
  width: 55%;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 21px;
}

.recordsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 1255px;
  gap: 50px;
}

.record {
  display: flex;
  min-width: 600px;
  height: 205px;
  padding: 10px;
  background: var(--blue-200);
  border: 1px solid var(--blue-300);
  border-radius: 20px;
}

.recordImage {
  width: 266px;
  border-radius: 10px;
}

.recordDescriptionContainer {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  margin-left: 30px;
}

.employeeLaptopName {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--black-500);
  margin-bottom: 15px;
}

.link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--blue-700);
  margin-top: 20px;
}

@media screen and (max-width: 390px) {
  .container {
    gap: 30px;
    padding: 30px 0;
  }

  .btnTitleContainer {
    margin-left: 20px;
    width: 62%;
  }

  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  .recordsContainer {
    width: 358px;
    gap: 20px;
  }

  .record {
    min-width: 358px;
    width: 358px;
    height: 109px;
    height: 130px;
  }

  .recordImage {
    width: 164px;
  }

  .recordDescriptionContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0;
    margin-top: 10px;
    margin-left: 10px;
  }

  .employeeLaptopName {
    line-height: 21px;
    font-size: 12px;
    margin-bottom: 0px;
  }

  .link {
    font-size: 12px;
    line-height: 21px;
    margin-top: 0px;
    position: absolute;
    bottom: 10px;
    left: 0;
  }
}
