:root {
  --primary-blue: #62a1eb;
  --black-700: #232323;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: local('HelveticaNeue'),
    url('./fonts/HelveticaNeue-Medium-11.ttf') format('truetype');
}

body {
  font-family: 'HelveticaNeue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btnPrimarty {
  background: var(--primary-blue);
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
