:root {
  --background-color: #f6f6f5;
  --primary-blue: #62a1eb;
  --black-800: #202020;
  --black-700: #232323;
  --black-600: #292929;
  --black-500: #2e2e2e;
  --black-450: #4a4a4a;
  --black-400: #5f5f5f;
  --black-350: #797979;
  --black-320: #898989;
  --black-300: #a5a5a5;
  --black-200: #c7c7c7;
  --blue-800: #0089a7;
  --blue-700: #4386a9;
  --blue-500: #62a1eb;
  --blue-400: #8ac0e2;
  --blue-300: #aed1ea;
  --blue-200: #eafaff;
  --dropdown-background: #ebebeb;
  --error: #e52f2f;
  --image-error: #fff1f1;
  --dropbox-background: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: local('HelveticaNeue'),
    url('./fonts/HelveticaNeue-Medium-11.ttf') format('truetype');
}

body {
  background-color: var(--background-color);
  font-family: 'HelveticaNeue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
